nav ul{
  list-style-type: none;
  display: flex;
  padding-left:0;
  flex-direction: row;
  justify-content: flex-end;
}
nav li{
  margin-left: 15px;
}
.sublist{
  flex-direction: column;
  position: absolute;
  margin-top: 15px;
  display: none;
}
.sublist li a:link{
  display: block;
}
.sublist li{
  margin-left: 0;
}
.itemWithDropdown:hover .sublist{
  display: flex;
}
nav a:link{
  background-color: rgba(0, 0, 0, 0.493);
  padding: 13px;
}
.sublist a:link{
  background-color: rgb(0, 0, 0. 0.493)
}
nav a:hover{
background-color: rgba(22, 129, 0, 0.582) 
}
nav a:active{
  background-color: rgb(67, 189, 10)
}
nav a:current{
  background-color: rgba(1, 177, 153, 0.719)
}
html{
  background-color: rgba(78, 194, 0, 0.603) 
}

