<style>
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Noto+Sans+TC:wght@300&display=swap');
</style>


h1{
  font-family: "NotaSansTC", sans serif;
}
h2{
  font-family: "Mukta", sans-serif;
}

html.nature{
  background-image: url('nature.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.textblock{
  margin: 0;
  background-color: rgba(197, 197, 197, 0.774); 
  padding: 15px; 
}
nav ul{
  list-style-type: none;
  display: flex;
  padding-left:0;
  flex-direction: row;
  justify-content: flex-end;
}
nav li{
  margin-left: 15px;
}
.sublist{
  flex-direction: column;
  position: absolute;
  margin-top: 15px;
  display: none;
}
.sublist li a:link{
  display: block;
}
.sublist li{
  margin-left: 0;
}
.itemWithDropdown:hover .sublist{
  display: flex;
}
nav a:link{
  background-color: rgba(0, 0, 0, 0.151);
  padding: 13px;
}
.sublist a:link{
  background-color: rgba(141, 141, 141, 0.781) 
}
.sublist a:hover{
  background-color: rgba(31, 155, 1, 0.582)  
}
nav a:hover{
background-color: rgba(31, 155, 1, 0.582) 
}
nav a:active{
  background-color: rgb(67, 189, 10)
}
nav a:current{
  background-color: rgba(1, 177, 153, 0.719)
}
html{
  background-color: rgba(78, 194, 0, 0.603) 
}
body{
  justify-content: center;
}

